.log {
  min-height: 24px;
  height: fit-content;
  clear: both;
  margin-bottom: 8px;
  padding: 13px 14px;
  vertical-align: top;
  border-radius: 12px;
  background-color: #00b0ff;
  text-align: center;
  font-size: 18px;
  width: 90%;
}
